{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "ie": 9,
          "chrome": 65
        },
        "modules": false
      }
    ]
  ]
}
